	/* GENERAL */

.center{
	text-align: center;
}
h1{
	text-align: center;
	text-decoration: red underline;
}
h3{
	font-size: 50px;
	text-decoration: red underline; 
}
section{
	display: flex;
	justify-content: center;
}
div{
	margin: 0 10px;
}
header{
	text-align: center;
	background-color: #940b50;
	padding: 2px;
	margin-bottom: 15px;
}
header li{
	margin: 0 20px;
}
header a{
	padding: 7px 10px;
	background: #6a0b3b;
	color: #fff;
	border-radius: 3px;
}
header a:hover{
	background: #fff;
	color: #6a0b3b;
}
header a, header li{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
}
.retour{
	text-decoration: none;
	color: #e71528;
}
.retour:hover{
	text-decoration: #e71528 underline;
}
.pseudo{
	text-decoration: none;
	color: black;
}
.pseudo:hover{
	color: #e71528;
	border: 1px #e71528 solid;
}
form .submit{
	font-weight: bold;
	padding: 2px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 0;
}
form .submit:hover{
	font-weight: bold;
	border-radius: 3px;
}

	/*	CONNECT */

#connect{
	border: 2px red solid;
	padding: 10px;
}
#connect a{
	text-decoration: none;
	color: #e71528;
}
#connect a:hover{
	text-decoration: #e71528 underline;
}

	/* INSCRIPTION */

#text{
	text-decoration: red underline;
}
#inscription{
	border: 2px red solid;
	padding: 5px;
}
#boutonconnect{
	text-decoration: none;
	color: #e71528;
}
#boutonconnect:hover{
	text-decoration: #e71528 underline;
}

	/* PROFIL */

.profil{ 
	border: 3px red solid;
	padding: 10px;
	text-align: center;
	height: 450px;
}
.profil a{
	text-decoration: none;
	color: #e71528;
	font-weight: bold;
}
.profil a:hover{
	text-decoration: #e71528 underline;
	font-weight: bold;
}
.profil img{
	width: 250px;
	height: 250px;
}

	/* TOPICALITY */

.topicality tr{
	border: 3px red solid;
	background:  #857e80;
}
.topicality .none{
	border: none;
	background: none;
}
.topicality table{
	border-collapse: collapse;
	width: 500px;
}
.topicality td{
	padding: 5px;
}
.picturetopicality{
	width: 170px;
	height: 170px;
}
.topicality textarea{
	resize: none;
	width: 300px;
	height: 100px;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
}
.topicality label{
	text-decoration: red underline;
	font-weight: bold;
}
.topicality .title{
	text-decoration: red underline;
	font-style: italic;
	font-weight: bold;
}
.topicality .message{
	background: #fff;
	width: 300px;
	height: 80px;
	padding: 5px;
}

	/* MODIFIER */

#modifier{
	display: initial;
	text-align: center;
}

	/* GALERIE */

.galerie img{
	width: 200px;
	height: 200px;
}
.galerie{
	border: 2px red solid;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
}
.galeriefont{
	width: 1000px;
	margin: 0 auto; 
}